@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Piazzolla:wght@800&family=Roboto+Slab&display=swap');
body {
  /*background-color: #ff86b3;*/
  background-color: #e6f9ff;
}

#content {
  max-width: 100%;
  margin: 0 auto;
  background-color: #e6f9ff;
}

h1, h2 {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-size: 1.75em;
  line-height: 3.5em;
  color: #0086b3;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
  border-radius: 10px;
}

h1 {
  max-width: 100%;
  height: auto;
  background-color: #ff86b3;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 10px;
}

header img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  float: right;
}

h2 {
  background-color: #e6f9ff;
  border-bottom: 5px double;
}

p {
  font-family: 'Piazzolla', Helvetica, serif;
  font-size: 1.15em;
  line-height: 1.35em;
  padding: 10px;
  color: #1200b3;
  text-align: justify;
  margin-top: 0;
}

nav {
  background-color: #e6f9ff;
  padding: 1em;
}

nav a {
  color: #1200b3;
  line-height: 1.5em;
  padding: .25em .25em;
  
}

nav li {
  font-family: 'Cabin', Helvetica, sans-serif;
  font-size: 1.5em;
}

nav a:hover {
  background-color: #0086b3;
  color: #e6f9ff;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
  border-radius: 3px 0 0 3px;
}

#info {
  font-style: normal;
  font-size: 1 em;
  color: white;
  text-align: center;
}

.socialmedia {
  padding: 10px;
}

.icon {
  width: 55px;
  height: 55px;
  margin: 15px 10px 0 0;
  color: white;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

header {
  text-align: left;
  background-color: #ff86b3;
  border-radius: 10px 3px 0, 0, 3px;
  margin-bottom: 10px;
}

footer {
  background-color: #ff86b3;
  text-align: center;
  justify-content: center;
  line-height: 3.5em;
  border-radius: 3px 0 0 3px;
  margin-bottom: 10px;
}
footer a {
  color: white;
}