@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Piazzolla:wght@800&family=Roboto+Slab&display=swap');
body {
  /*background-color: #ff86b3;*/
  background-color: #e6f9ff;
}

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #e6f9ff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-size: 1.75em;
  line-height: 1.1em;
  color: #0086b3;
  text-align: left;
  padding: 10px;
  margin-bottom: 0;
  border-top: 5px double;
  border-bottom: 5px double;
}

h1 {
  background-color: #ff86b3;
  text-align: left;
  font-family: 'Roboto Slab', Helvetica, sans-serif;
  font-size: 1.75em;
  line-height: 1.1em;
  color: white;
  border-radius: 3px 0 0 3px;
  margin-bottom: 10px;
  width: 350px;
  height: 375px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

.pagetitle {
  font-size: 2em;
  border: none;
  text-align: left;
}

img {
  max-width: 100%;
  float: right;
}

h2 {
  background-color: #e6f9ff;
  text-align: left;
}

p {
  font-family: 'Piazzolla', Helvetica, serif;
  font-size: 1.15em;
  line-height: 1.35em;
  padding: 10px;
  color: #006080;
  text-align: justify;
  margin-top: 0;
}

nav {
  background-color: #e6f9ff;
  padding: 1em;
}

nav a {
  color: #b30068;
  line-height: 1.5em;
  padding: .25em .25em;
}

nav li {
  font-family: 'Cabin', Helvetica, sans-serif;
  font-size: 1.5em;
}

xnav ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  list-style: inside;
}

nav a:hover {
  background-color: #3000b3;
  color: #e6f9ff;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}

#info {
  font-style: normal;
  font-size: 1.em;
  color: white;
}

.socialmedia {
  padding: 10px;
}

header {
  /* display: grid;
  grid-template-columns: 70%;*/
  align-items: center;
  background-color: #ff86b3;
  border-radius: 3px 0 0 3px;
  margin-bottom: 10px;
  border-radius: 3px 0 0 3px;
}

footer {
  color: #ff86b3;
  text-align: center;
  align-items: center;
  justify-content: center;
  line-height: 3.5em;
  border-radius: 3px 0 0 3px;
  margin-bottom: 10px;
  width: 350px;
  height: 375px;
  box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.15);
}