article img[data-src] {
	/*
  filter: blur(0.2em);
  */
  filter: blur(0.0em);
}
article img {
  display: block;
  width: 400px;
  height: 300px;
  background: #5c0568;
  border-width: 5px;
  border-style: solid;
  border-color: #247397;
  align-content: center;
  filter: blur(0em);
  transition: filter 0.5s;
}

p {
  font-family: "Piazzolla", Helvetica, serif;
  font-size: 1em;
  line-height: 1em;
  padding: 3px;
  color: #1200b3;
  
  margin-top: 0;
  text-align: center;
}