@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

table,
td {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: black;
  border: 3px solid #e7f0ed;
  margin: auto;
  border-collapse: collapse;
  text-align: center;
}

table {
  width: 25%;
  height:auto;
  border-collapse: collapse;
}
.trhead1 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: black;
  font-size: x-large;
  background-color: #7fb9c2;
}
.trhead2 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  background-color: #628ca6;
  color: white;
}
tr:nth-child(even) {
  background-color: #e7f0ed;
}

.blackfriday {
  font-style: italic;
}

.trfoot {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: black;
  background-color: #628ca6;
  text-align: center;
}

table {
  box-shadow: 2px 2px 4px 2px #628ca6;
}
