@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

table,
td {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: black;
  border: 1px solid white;
  border: 1px solid #628ca6;
  /*border: 5px solid black;*/
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  padding: 12px;
}
th {
  padding: 12px;
}
table {
  width: 25%;
  height:auto;
  border-collapse: collapse;
}

tr:nth-child(even) {
  background-color: #e7f0ed;
}

tr:nth-child(3) {
  background-color: #e7ffed;
}
tr:nth-child(5) {
  background-color: #e7ffed;
}
.thhead1 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: black;
  font-size: x-large;
  background-color: #7fb9c2;
}
.trhead2 {
  font-family: "Ubuntu", Helvetica, sans-serif;
  background-color: #628ca6;
  color: white;
  text-align: center;
  border: 1px solid white;
}


.blackfriday {
  font-style: italic;
}

.tdfoot {
  font-family: "Ubuntu", Helvetica, sans-serif;
  color: black;
  background-color: #628ca6;
  text-align: center;
}

table {
  box-shadow: 3px 3px 4px 3px #628ca6;
}
