/* 35em is also 560px when basefont is 16px */
@media only screen and (min-width: 35rem) {
  h1 {
    font-size: 2.5rem;
    /*margin: 0.15rem;*/
    color: white;
  }
  h2 {
    font-size: 1.5rem;
    color: white;
  }
  header,
  footer {
    border-radius: 10px;
    color: #1200b3;
  }
  header img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    float: left;
    border-radius: 10px;
  }

  .navigation ul {
    /* flex-wrap: wrap; */
    display: flex; 
  }

  .navigation li:first-child {
    display: block;
  }

  .navigation li {
    display: block;
    flex: 1 1 100%;
  }

  nav li {
    flex: 3;
    font-family: "Cabin", Helvetica, sans-serif;
    font-size: 1.5em;

    /*  mainnav .classList .remove('responsive')
    }};*/
  }

  footer {
    max-width: 100%;
    height: auto;
    font-size: 0.8rem;
  }
  footer a {
    color: white;
  }
} /*end medium */
