section {

    
    width: 300px;
    height: 0 auto;
    /*margin: .8rem auto;*/
    display: grid;

    font-size:smaller;
    color: white;
     max-width: 1048px;
    box-shadow: 1px 1px 4px 1px #888;
    /*overflow: hidden;*/
    border-radius: 10px;
    background-color: hsl(291, 84%, 43%);
    margin: 0 auto;
    
    text-align: center;
    padding: 10px;
   
  
  }